<div class="card big-country-card">
  <div class="card-content">
    <div class="tabs is-boxed mb-3">
      <ul>
        <li class="is-active">
          <a class="has-background-white has-text-dark is-uppercase has-text-weight-bold mb-1">
            ✨ Top Matches
          </a>
        </li>
      </ul>
    </div>

    <div *ngFor="let country of countries; trackBy: trackByCountry" class="mb-5">

      <!-- Header -->
      <h3 class="title is-6 has-text-weight-semibold mb-2 is-uppercase is-flex is-align-items-center is-clickable">
        <img *ngIf="country.flag" [src]="country.flag" class="image is-24x24 mr-2 rounded-flag" />
        {{ country.name }} - {{ country.league }}
      </h3>

      <!-- Events in league -->
      <div *ngIf="country.expanded">

        <div *ngFor="let event of country.events; trackBy: trackByEvent" class="box is-shadowless mb-2 p-2 is-clickable"
          (click)="toggleEventMarkets(event)">


          <div class="columns is-vcentered is-multiline">

            <!-- Date/time -->
            <div class="column is-narrow has-text-left-mobile has-text-centered-desktop">
              <span class="has-text-weight-semibold is-size-7 match-date-color">{{ event.date }}</span>
              <span class="is-size-7 match-date-color ml-1">{{ event.time }}</span>
            </div>

            <!-- Teams -->
            <div class="column">
              <div class="is-flex">

                <img [src]="event.homeFlag" class="image is-24x24 mr-1" />
                <p class="is-size-7 has-text-weight-semibold match-date-color mt-1">{{ event.home }}</p>

                <span class="mx-2 has-text-grey is-size-7 mt-1">vs</span>

                <p class="is-size-7 has-text-weight-semibold match-date-color mt-1">{{ event.away }}</p>
                <img [src]="event.awayFlag" class="image is-24x24 ml-2" />

              </div>
            </div>


            <!-- 1X2 odds -->
            <div class="column odds_buttons is-4">
              <div class="buttons is-flex-wrap-nowrap is-justify-content-space-between is-align-items-center">

                <ng-container *ngIf="event.markets?.length">

                  <ng-container *ngFor="let sel of event.markets[0].selections">

                    <button class="button is-white is-small is-fullwidth"
                      (click)="select(event, event.markets[0], sel); $event.stopPropagation()"
                      [disabled]="sel.odds == null">

                      <div class="odds-content is-flex is-justify-content-space-between is-align-items-center"
                        style="width:100%">
                        <span class="odds-name is-size-7 has-text-weight-semibold has-text-black">{{
                          selectionLabel(sel.key) }}</span>
                        <span class="odds-value is-size-7 has-text-weight-semibold" style="color: green;">{{
                          sel.odds | number:'1.2-2' }}</span>
                      </div>
                    </button>
                  </ng-container>

                </ng-container>

              </div>
            </div>

          </div>

          <app-inline-markets *ngIf="event._marketsExpanded" [markets]="event._markets"
            [loading]="event._marketsLoading" [error]="event._marketsError" [event]="event"
            (selection)="selectFromApi(event, $event.market, $event.selection)">
          </app-inline-markets>

        </div>

      </div>
    </div>

  </div>
</div>