<nav class="bet-header navbar is-flex is-justify-content-space-between is-align-items-center">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="logo.svg" alt="BetLite Logo" style="height: 100px; width: auto;">
    </a>
  </div>

  <div class="navbar-end" *ngIf="auth.isAuthenticated()">
    <div class="navbar-item">
      <a class="button is-light" routerLink="/my-bets"> <span class="has-text-warning mr-1">₮</span>
        <span class="has-text-black">{{ balance }}</span></a>
    </div>
  </div>
</nav>