<!-- Tabs Navigation -->
<div class="tabs is-toggle is-centered mt-4">
    <ul>
        <li [class.is-active]="activeTab === 'PENDING'" (click)="switchTab('PENDING')"><a>Pending</a></li>
        <li [class.is-active]="activeTab === 'SETTLED'" (click)="switchTab('SETTLED')"><a>Settled</a></li>
    </ul>
</div>

<!-- ===== PENDING BETS ===== -->
<div *ngIf="activeTab === 'PENDING'">
    <div *ngFor="let bet of pendingBets" class="card has-background-white mb-4" style="width:95%; margin:auto">
        <!-- Card content: list all selections -->
        <div class="card-content">
            <div *ngFor="let sel of bet.selections" class="mb-2">
                <div class="is-flex is-justify-content-space-between is-align-items-center">
                    <p class="has-text-weight-semibold has-text-grey mb-0">{{ sel.eventName }}</p>
                    <span class="tag" [ngClass]="{
              'is-info': bet.status === 'PENDING',
              'is-success': bet.status === 'WON',
              'is-danger': bet.status === 'LOST'
            }">
                        {{ bet.status }}
                    </span>
                </div>
                <p>{{ sel.market }} - {{ sel.selection }} &#64; {{ sel.odds }}</p>
                <p class="has-text-grey is-size-7">
                    {{ sel.eventStartTime | date: 'dd MMM yyyy, HH:mm' }}
                </p>
            </div>
        </div>

        <!-- Footer: stake, potential win, status -->
        <footer class="card-footer is-flex is-align-items-center is-justify-content-space-between px-4 py-3">
            <div>
                <p class="has-text-grey">Stake: <strong class="has-text-black">€{{ bet.stake }}</strong></p>
                <p class="has-text-grey">Potential Win: <strong class="has-text-black">€{{ bet.potentialReturn
                        }}</strong></p>
            </div>

            <span class="tag" [ngClass]="{
              'is-info': bet.status === 'PENDING',
              'is-success': bet.status === 'WON',
              'is-danger': bet.status === 'LOST'
            }">
                {{ bet.status }}
            </span>
        </footer>
    </div>
</div>

<!-- ===== SETTLED BETS ===== -->
<div *ngIf="activeTab === 'SETTLED'">
    <div *ngFor="let bet of settledBets" class="card has-background-white mb-4" style="width:95%; margin:auto">
        <div class="card-content">
            <div *ngFor="let sel of bet.selections" class="mb-2">
                <div class="is-flex is-justify-content-space-between is-align-items-center">
                    <p class="has-text-weight-semibold has-text-grey mb-0">{{ sel.eventName }}</p>
                    <span class="tag" [ngClass]="{
              'is-info': bet.status === 'PENDING',
              'is-success': bet.status === 'WON',
              'is-danger': bet.status === 'LOST'
            }">
                        {{ bet.status }}
                    </span>
                </div>

                <p>{{ sel.market }} - {{ sel.selection }} &#64; {{ sel.odds }}</p>
                <p class="has-text-grey is-size-7">
                    {{ sel.eventStartTime | date: 'dd MMM yyyy, HH:mm' }}
                </p>
            </div>
        </div>


        <footer class="card-footer is-flex is-align-items-center is-justify-content-space-between px-4 py-3">
            <div>
                <p class="has-text-grey">Stake: <strong class="has-text-black">€{{ bet.stake }}</strong></p>
                <p class="has-text-grey">Return: <strong class="has-text-black">€{{ bet.potentialReturn }}</strong></p>
            </div>

            <span class="tag" [ngClass]="{
              'is-success': bet.status === 'WON',
              'is-danger': bet.status === 'LOST'
            }">
                {{ bet.status }}
            </span>
        </footer>

    </div>
</div>