<div class="login-wrapper" style="background-color: #505050;">
  <form (ngSubmit)="submit()">
    <label class="has-text-white">
      Email
      <input [(ngModel)]="email" name="email" type="email" required />
    </label>

    <label class="has-text-white">
      Password
      <input [(ngModel)]="password" name="password" type="password" required />
    </label>

    <div class="actions button is-success is-fullwidth">
      <button type="submit" [disabled]="loading">{{ loading ? 'Logging in...' : 'Log in' }}</button>
    </div>

    <div *ngIf="error" class="error">{{ error }}</div>
  </form>
</div>
