<!-- 📱 Mobile Banner (collapsed) -->
<div class="betslip-banner is-hidden-desktop" *ngIf="!isExpanded" (click)="toggleExpand()">
    <span>Betslip ({{ (selections$ | async)?.length || 0 }})</span>
</div>

<!-- 📱 Mobile Fullscreen Overlay -->
<div class="betslip-overlay is-hidden-desktop" *ngIf="isExpanded">

    <header class="betslip-header">
        <h2>Selections ({{ (selections$ | async)?.length || 0 }})</h2>
        <button class="button is-light is-small" (click)="close()">✕ Close</button>
    </header>

    <div class="betslip-content">
        <ng-container *ngTemplateOutlet="fullBetslip"></ng-container>
    </div>
</div>

<!-- 💻 Desktop Sidebar -->
<div class="is-hidden-touch">
    <ng-container *ngTemplateOutlet="fullBetslip"></ng-container>
</div>

<!-- ♻ Shared Betslip Content -->
<ng-template #fullBetslip>
    <section class="box has-background-light" role="region" aria-label="Betslip">

        <header class="is-flex is-justify-content-space-between is-align-items-center mb-3">
            <h2 class="title is-5 m-0  has-text-black">Betslip</h2>

            <button class="button is-small" (click)="clear()" [disabled]="(selections$ | async)?.length === 0">
                Clear
            </button>
        </header>

        <!-- Bets Selected (card list like My Bets) -->
        <ng-container *ngIf="(selections$ | async) as selections; else empty">

            <div *ngFor="let s of selections; trackBy: trackById" class="card mb-3 has-background-white">
                <div class="card-content">
                    <div class="is-flex is-justify-content-space-between is-align-items-center">
                        <div>
                            <p class="has-text-weight-semibold has-text-black mb-1 is-size-6">{{ s.eventName || s.market
                                }}</p>
                            <p class="mb-0 has-text-grey-dark is-size-6">{{ s.market }} - {{ s.selection }} &#64; {{
                                s.odds | number: '1.2-2' }}</p>
                            <p class="has-text-grey is-size-7">{{ s.eventStartTime | date: 'dd MMM yyyy, HH:mm' }}</p>
                        </div>

                        <div class="has-text-right">
                            <button class="button is-ghost is-small mb-2" (click)="removeSelection(s.id)">✕</button>

                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div>
                    <div class="columns is-mobile is-vcentered">

                        <!-- Left side (can be empty or labels later) -->
                        <div class="column">
                            <!-- optional content -->
                        </div>

                        <!-- Right side -->
                        <div class="column is-narrow has-text-right">
                            <div class="is-flex is-align-items-center is-justify-content-flex-end">

                                <!-- Combined odds -->
                                <span class="has-text-grey mr-2">
                                    <strong class="has-text-black has-text-weight-semibold is-size-6">
                                        {{ (combinedOdds$ | async) | number:'1.2-2' }}
                                    </strong>
                                </span>
                                <span class="has-text-warning mr-1">₮</span>
                                <!-- Stake input -->
                                <input id="stakeInput"
                                    class="input is-small has-background-light has-text-black is-size-6"
                                    type="text" inputmode="decimal" placeholder="0.00" style="width: 90px"
                                    [ngModel]="stake$ | async" (ngModelChange)="setStake($event)" />

                            </div>
                        </div>
                    </div>


                </div>

                <ng-container *ngIf="combinedOdds$ | async as combinedOdds">
                    <ng-container *ngIf="potentialReturn$ | async as potentialReturn">
                        <ng-container *ngIf="stake$ | async as stakeValue">
                            <div>
                                <div class="has-text-grey">Potential return</div>
                                <div class="has-text-weight-semibold has-text-grey-dark is-size-6"><span
                                        class="has-text-warning mr-1">₮</span>{{ potentialReturn | number:'1.2-2' }}
                                </div>
                            </div>

                            <button class="button is-primary is-fullwidth"
                                [disabled]="!canPlaceBet(selections, stakeValue)"
                                (click)="onPlaceBet(selections, combinedOdds, potentialReturn)">Place bet</button>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>


        </ng-container>

        <!-- Empty State -->
        <ng-template #empty>
            <div class="has-text-centered has-text-grey mt-4">
                Your betslip is empty. Add some selections to get started.
            </div>
        </ng-template>

    </section>

</ng-template>