<div class="featured-events-container">
  <div class="event-card card">
    <div class="card-content">
      <p class="title is-5">Team A vs Team B</p>
    </div>
  </div>

  <div class="event-card card">
    <div class="card-content">
      <p class="title is-5">Team C vs Team D</p>
    </div>
  </div>

  <div class="event-card card">
    <div class="card-content">
      <p class="title is-5">Team E vs Team F</p>
    </div>
  </div>
    <div class="event-card card">
    <div class="card-content">
      <p class="title is-5">Team E vs Team F</p>
    </div>
  </div>
    <div class="event-card card">
    <div class="card-content">
      <p class="title is-5">Team E vs Team F</p>
    </div>
  </div>
    <div class="event-card card">
    <div class="card-content">
      <p class="title is-5">Team E vs Team F</p>
    </div>
  </div>
    <div class="event-card card">
    <div class="card-content">
      <p class="title is-5">Team E vs Team F</p>
    </div>
  </div>
    <div class="event-card card">
    <div class="card-content">
      <p class="title is-5">Team E vs Team F</p>
    </div>
  </div>
</div>
