@import "bulma/css/bulma.css";

a {
  cursor: pointer;
}

html {
  background: #303030;
}

:root {
  --accent-color: rgb(0, 255, 182);
  --post-accent-color: rgb(206, 206, 206);
  --odds-background: #505050;
}

img, svg {
  max-width: 100%;
  height: auto;
} 

input, select, textarea {
  font-size: 16px;
}
